/* Start---Back button */
a#back
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: large;
    font-weight: bold;
}
  
a#back:hover
{
    background-color: rgb(245, 86, 86);
    color: black;
}

.previous
{
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
/* End---Back Button */

/* Start---Scroll bar for list of users on adminProfile.php */
div.usertable  
{
    margin: auto;
    width: 80%;
    height: 500px;
    overflow: scroll;
}

div.usertable table
{
    border-collapse: collapse;
    width: 100%;
}

div.usertable tr.userInfo:nth-child(even)
{
    background-color: #cccccc;
}
div.usertable tr.userInfo td
{
    padding: 8px;
    text-align: center;
}

/* End---Scroll bar for list of users on adminProfile.php */

/* was in navBar, moved to stylesheet*/
.h2Edits /*edits the heading 2*/
{
  text-align: left;
  resize: none;
  padding: 80px;
  width: 380px;
  border: 1px /*solid powderblue*/;
}

.paragraph /*edits p in html*/
{
  /*margin-left: 500px;
  margin-right: 500px;*/
  resize: none;
  padding: 20px;
  width: 700px;
  border: 1px /*solid powderblue*/;
  font-size: 140%;
}

.footer { /*shows info at bottom of page*/
  text-align: center;
  position: relative;
  resize: none;
  padding: 30px;
  top: 300px;
  border: 3px /*solid #73AD21*/;
}