/* Start---Back button */
a#back
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: large;
    font-weight: bold;
}
  
a#back:hover
{
    background-color: rgb(245, 86, 86);
    color: black;
}

.previous
{
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
/* End---Back Button */